# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyBeoGSTtw6wjpiTeGMQCEZ-M8LahY11x1c'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_df = pd.read_csv("./city_weather.csv")
city_weather_df.head()

,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,City
0,-21.20,-175.20,26.00,78.0,75.0,1.50,TO,1.586984e+09,vaini
1,19.73,-155.09,27.00,54.0,20.0,4.10,US,1.586984e+09,hilo
2,-20.52,57.52,26.00,83.0,40.0,7.20,MU,1.586984e+09,souillac
3,-23.12,-134.97,24.64,72.0,99.0,2.06,PF,1.586984e+09,rikitea
4,54.31,34.52,1.83,88.0,100.0,4.99,RU,1.586984e+09,baryatino

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = city_weather_df[["Lat", "Lng"]]
locations

       Lat     Lng
0   -21.20 -175.20
1    19.73 -155.09
2   -20.52   57.52
3   -23.12 -134.97
4    54.31   34.52
..     ...     ...
549   5.40   26.49
550  36.25   37.50
551  41.16   27.80
552  53.00 -122.50
553  32.77   22.64

[554 rows x 2 columns]

In [4]:
weight = city_weather_df['Humidity']

# Plot Heatmap
fig = gmaps.figure(center=(51.5, -0.1), zoom_level=2)

In [5]:

heat_layer = gmaps.heatmap_layer(locations,weights=weight,dissipating=True, max_intensity=100, point_radius=10)
fig.add_layer(heat_layer)


#markers = gmaps.marker_layer(locations)
#fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure